<!DOCTYPE html>
<html>
	{{> head}}
	<body id="login">
		<header>
			<nav class="navbar navbar-inverse navbar-fixed-top">
		      <div class="container-fluid">
		        <div class="navbar-header">
		          <a class="navbar-brand" href="#">Portal e-Commerce</a>
		        </div>
		      </div>
		    </nav>
		</header>

		<div class="alert alert-danger">
		  <strong>Opa!</strong> Dados inválidos.
		</div>

		<div class="container">
			<form class="form-signin" action="/admin/login" method="POST" novalidate>
				<h2 class="form-signin-heading">Login</h2>
				<input type="email" name="username" id="inputEmail" class="form-control" placeholder="E-mail" autofocus="">
				<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Senha" >
			
				<button class="btn btn-lg btn-primary btn-block" id="submit" type="submit">Entrar</button>
			</form>
		</div>

		{{> scripts}}
		<script src="/js/admin/login.js"></script>
	</body>	
</html>