<div>
	<button type="button" class="btn btn-default" ng-click="form.goBack()">Voltar</button>

	<form name="form.form" ng-submit="form.salvar()" novalidate>

		<h1>Novo Usuário</h1>

		<div class="form-group" ng-class="{'has-error': submitted && form.form.nome.$error.required}">
		  <label class="control-label" for="nome">Nome:</label>
		  <input type="text" class="form-control" id="nome" name="nome" ng-model="form.usuario.nome" required>
		  <span class='help-block' ng-show='submitted && form.form.nome.$error.required'>Ops! esse campo está errado</span>
	  	</div>

	  	<formgroup label="Nome" required="&& form.form.nome.$error.required">
			<input type="text" class="form-control" id="nome" name="nome" ng-model="form.usuario.nome" required>
		</formgroup>

	  	<formgroup lab="E-mail">
			<input type="email" id="E-mail" class="form-control" ng-model="form.usuario.email" required />
			<span class='help-block' ng-show='errorForm'>Ops! esse campo está errado</span>
		</formgroup>

	  	<div class="form-group">
		  <label class="control-label" for="senha">Senha:</label>
		  <input type="password" class="form-control" id="senha">
		</div>

		<div class="row">
			<div class="form-group col-xs-6">
			  <label for="celular">Celular:</label>
			  <input type="tel" class="form-control" id="celular">
			</div>

			<div class="form-group col-xs-6">
			  <label for="telefone">Telefone:</label>
			  <input type="tel" class="form-control" id="telefone">
			</div>
		</div>

		<button class="btn btn-primary ng-scope pull-right" type="submit" ng-click="submitted=true">Salvar</button>
	</form>
</div>