<script src="/js/lib/jquery-1.12.4.min.js"></script>

<script src="/js/bootstrap/bootstrap.min.js"></script>

<script src="/js/angular/angular-1.4.3.js"></script>
<script src="/js/angular/angular-ui-router.js"></script>

<script src="/js/admin/controllers/dashboard.js"></script>
<script src="/js/admin/controllers/usuarios.js"></script>
<script src="/js/admin/controllers/usuario-form.js"></script>
<script src="/js/admin/controllers/clientes.js"></script>
<script src="/js/admin/controllers/banners.js"></script>
<script src="/js/admin/controllers/categorias.js"></script>
<script src="/js/admin/controllers/produtos.js"></script>
<script src="/js/admin/admin.js"></script>
<script src="/js/admin/events.js"></script>